
.user-info {
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: inherit;
    align-items: center;
    background: whitesmoke;
    font-size: 14px;
    font-weight: 600;
    color: rgb(109, 109, 109);
    user-select: none;
    overflow: hidden;
}

.user-info img {
    width: 70px;
    height: auto;
}